.board-letters {
  display: flex; 
  justify-content: space-between; 
  width: 215px;
}

.board {
  display: inline-block; 
}

.ai-board {
  margin-right: 60px;
}

.row span {
  width: 10px;
  display: inline-block;
}

.empty-cell {
  display: block;
  width: 20px;
  height: 20px;
}
.plane-cell {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-color: black;
}


.cell {
    /* background-color: red; */
     display: block;
     width: 20px;
     height: 20px;
     border: 1px solid;
     border-color: black;
   }
   
   .row {
     display: flex
   }

   .hitCell {
     background-color: red;
   }

   .nextHitCell {
     background-color: green;
   }

   .emptyCell {
     background-color: turquoise;
   }